@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Sue+Ellen+Francisco&display=swap');


* {
    margin: 0;
    padding: 0;
}

$nav: #f5f5ed;
$main: #FFFFFC;
$vata: #9bf6ff;
$pitta: #e7c294;
$kapha: #a4ec95;


// inicio header

header {
    font-family: 'Montserrat', sans-serif;
    background-color: $nav;
    text-transform: capitalize;
}

.navbar-brand {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 3em;
    text-transform: none;
    letter-spacing: 0.15em;
    padding-left: 0.4em;
    padding-bottom: 0.2em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    padding-left: 1, 5em;
    font-size: 1.2em;
}

#navbarNavAltMarkup {
    padding-left: 2em;
}

.btn1 {
    background-color: transparent;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1.2em;
    font-weight: bold;
}

// fin header

main {
    font-family: 'Montserrat', sans-serif;
    background-color: $main;
}

.doshas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5px;
}

$sombras:(vata: $vata,
    pitta: $pitta,
    kapha: $kapha,
);

@each $dosha,
$shad in $sombras {
    .d-#{$dosha} {
        filter: drop-shadow(0px 5px 5px $shad);
    }
}

@mixin size ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.item {
    @include size (320px, 500px);
}

.pict {
    @include size (100%, 100%);
    object-fit: contain;
    transition: all 300ms;
    position: relative;
}

.pict:hover {
    transform: scale(1.05);
}

.pict-dosh {
    @include size (30%, 30%);
    object-fit: contain;
    transition: all 300ms;
    position: relative;
}

.pict-dosh:hover {
    transform: scale(1.03);
}


/* inicio carousel */

$gris: rgb(31, 51, 51);
$darkgrey: rgba(18, 24, 24, 0.712);

.carousel-inner {
    border-style: solid;
    border-color: $gris;
    border-width: 1px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-image: url(../imagenes/skulls.png);
}

.w-car {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.w-100 {
    height: 350px;
    background-position: center;
    object-fit: scale-down;
}

.carousel-caption {
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    position: inherit;
}

.d-sm-block {
    display: block !important;
    background-color: #ffc6ff;
}

.carousel-control-next-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/271/271228.png);
}

.carousel-control-prev-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/271/271220.png);
}

// doshas

.link--doshas img {
    height: 350px;
    padding: 2em;
}

.link--doshas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-fluid h5 {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.container-fluid ul li {
    margin-bottom: 1.2em;
}

/* inicio footer */
.linkfooter {
    grid-area: lf;
    padding-top: 1em;
}

.direccion {
    grid-area: dir;
    padding-top: 0.8em;
    padding-bottom: 2em;
}

.mapa {
    grid-area: map;
    padding-top: 2em;
}

.footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Montserrat', sans-serif;
    background-color: $nav;
    align-items: initial;
    grid-template-areas:
        "lf dir map";
}

.linkcontact {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: black;
}

footer img {
    height: 50px;
    padding-bottom: 0.5em;
}

footer h2 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 3em;
    text-transform: none;
    letter-spacing: 0.15em;
    padding-bottom: 0.5em;
}

footer h3 {
    font-weight: bold;
    padding-top: 1em;
}

// fin footer

.contacto {
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
    width: 100px;
}

.contacto-- {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-floating {
    width: 100%;
}

#floatingTextarea {
    height: 200px;
}

.textocont {
    position: relative;
    top: 20px;
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.btn {
    width: 100px;
    align-self: center;
    margin: 2em;
}


@media (max-width: 767px) {
    .footer {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-left: 10%;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    .contacto-- {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .linkfooter {
        padding-top: 0.5em;
    }

    .direccion {
        padding-top: 0.1em;
    }

    .mapa {
        padding-top: 0.5em;
    }
}